{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {}, "method": "POST", "uri": "https://crm.zoho.com/crm/private/xml/Leads/insertRecords?authtoken=597a7029c4ea163c7a3ffeed2816c7a2&scope=crmapi&xmlData=%3CLeads%3E%0A%3Crow+no%3D%221%22%3E%0A%3CFL+val%3D%22First+Name%22%3E%3C%21%5BCDATA%5BHannah%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Title%22%3E%3C%21%5BCDATA%5BManager%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Last+Name%22%3E%3C%21%5BCDATA%5BSmith%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Phone%22%3E%3C%21%5BCDATA%5B1234567890%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Company%22%3E%3C%21%5BCDATA%5BYour+Company%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Email%22%3E%3C%21%5BCDATA%5Btesting%40testing.com%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Lead+Source%22%3E%3C%21%5BCDATA%5BWeb+Download%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Home+Phone%22%3E%3C%21%5BCDATA%5B0987654321%5D%5D%3E%3C%2FFL%3E%0A%3C%2Frow%3E%0A%3C%2FLeads%3E"}, "response": {"body": {"string": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<response uri=\"/crm/private/xml/Leads/insertRecords\"><result><message>Record(s) added successfully</message><recorddetail><FL val=\"Id\">1614134000000087015</FL><FL val=\"Created Time\">2015-08-20 11:24:06</FL><FL val=\"Modified Time\">2015-08-20 11:24:06</FL><FL val=\"Created By\"><![CDATA[Albert]]></FL><FL val=\"Modified By\"><![CDATA[Albert]]></FL></recorddetail></result></response>\n", "encoding": "utf-8"}, "headers": {"content-type": ["text/xml;charset=utf-8"]}, "status": {"message": "OK", "code": 200}, "url": "https://crm.zoho.com/crm/private/xml/Leads/insertRecords?authtoken=597a7029c4ea163c7a3ffeed2816c7a2&scope=crmapi&xmlData=%3CLeads%3E%0A%3Crow+no%3D%221%22%3E%0A%3CFL+val%3D%22First+Name%22%3E%3C%21%5BCDATA%5BHannah%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Title%22%3E%3C%21%5BCDATA%5BManager%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Last+Name%22%3E%3C%21%5BCDATA%5BSmith%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Phone%22%3E%3C%21%5BCDATA%5B1234567890%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Company%22%3E%3C%21%5BCDATA%5BYour+Company%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Email%22%3E%3C%21%5BCDATA%5Btesting%40testing.com%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Lead+Source%22%3E%3C%21%5BCDATA%5BWeb+Download%5D%5D%3E%3C%2FFL%3E%0A%3CFL+val%3D%22Home+Phone%22%3E%3C%21%5BCDATA%5B0987654321%5D%5D%3E%3C%2FFL%3E%0A%3C%2Frow%3E%0A%3C%2FLeads%3E"}, "recorded_at": "2015-08-20T15:24:06"}], "recorded_with": "betamax/0.5.0"}